body {
    background: #777;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto;
}
header {
    background-color: #ebebeb;
    color: #777;
    padding: 2.5rem;
    margin-bottom: 1rem;
}
nav {
    background-color: #ebebeb;
    color: #777;
    padding: 2.5rem;
    margin-bottom: 1rem;
}
section {
    width: 55%;
    float: left;
    background-color: #ebebeb;
    color: #777;
    height: 225px;
    padding: 2.5rem 1rem 2.5rem 1rem;
}
article {
    background-color: #777;
    color: #ebebeb;
    padding: 1.5rem 1rem 0.5rem 1rem;
    margin-top: 1rem;
}
h1 {
    background-color: #ebebeb;
    color: #777;
    padding: 1rem 2.5rem 1rem 2.5rem;
    margin: 1rem 0 1rem 0;
}
p {
    background-color: #ebebeb;
    color: #777;
    padding: 1rem 2.5rem 1rem 2.5rem;
    margin-bottom: 1rem;
}
aside {
    width: 31.5%;
    margin-left: 1rem;
    float: right;
    height: 225px;
    background-color: #ebebeb;
    color: #777;
    padding: 2.5rem;
    margin-bottom: 1rem;
}
footer {
    clear: both;
    width: 91.6%;
    background-color: #ebebeb;
    color: #777;
    padding: 2.5rem;
    margin: 1rem 0 1rem 0;
}
